<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
    src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <title>Kalyan Devkota</title>
</head>
